.inicio-pericial{
	background-image: url(../images/foto-pericial.jpg);
}

.inicio-med-clinica{
	background-image: url(../images/foto-med-clinica.jpg);
}


.pericial{
	background:$lightergrey;
}
.menu-servicio{
	padding:4em 2em;
	font-family: $baseheadingfont2;
	text-transform: uppercase;
	@include font-size(14);
	letter-spacing: 1.5px;
	text-align: center;
	li{
		padding: 0.5em 0;
		&:hover{
			background:white;
			font-family: $baseheadingfont;
		}
		a{
			text-decoration: none;
		}
	}
}
.servicio-selec{
	background: white;
	font-family: $baseheadingfont;
}



.servicio-seleccionado{
	padding:0 2em 4em 2em;
}
#contenedor-titular{
	position: relative;
}
.titular-selec{
	display: table;
	margin: 0 auto;
	text-align: center;

}
.titular-selec:after {
	content: "";
	display: block;
	border-top: solid 1px $lightgrey ;
	width: 100%;
	height: 1px;
	position: absolute;
	top: 50%;
	left: 0px;
	z-index: 1;
}
.titular-selec span{
	font-style: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
	@include font-size(15);
	border: 2px solid black;
	font-family: $baseheadingfont;
	background-color: white;
	margin:0;
	padding:0.5em 2em;
	display: inline-block;
	position: relative;
	z-index: 5;
}

.contenedor-texto{
	max-width: 685px;
	display: table;
	margin: 0 auto;
	padding:2em 0;
	padding-bottom: 0;
	.btn{
		margin:0 auto;
	}
	// p:first-child:first-letter{
	// 	float: left;
	//     font-size: 5em;
	//     line-height: 0.5em;
	//     padding-bottom: 0.05em;
	//     padding-top: 0.2em;
	// }
	p+p{
		text-indent: 1.5em;
	}
	ul li{
		margin-left: 1em;
		position: relative;
		margin-bottom: 0.5em;
		// list-style: inherit;
		&:before{
			content: url('../images/arrow/arrow-right1.svg');
			position: absolute;
			left: -18px;
			top:2px;
			width: 12px;
		}
	}
	ul>ul{
		margin: 1em 0 1.5em 1em ;
		li:before{
			content: url('../images/arrow/arrow-right2.svg');
			position: absolute;
			left: -1.3em;
			top:2px;
			width: 12px;
		}
	}
	h4{
		margin-bottom: 1em;
		// text-align: center;
	}


}